<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
-->

    <!-- Android 13版本适配，细化存储权限 -->
<!--
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="@string/BaseAppName"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/App.Theme.CopyManga.Splash">

        <!-- enable profiling by macrobenchmark -->
        <profileable
            android:shell="true"
            tools:targetApi="q" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_provider_paths" />
        </provider>


        <activity
            android:name="com.crow.module_book.ui.activity.ComicActivity"
            android:exported="true"
            android:theme="@style/Book.Theme.CopyManga" />

        <!--
                <activity
                    android:name="com.crow.module_anime.ui.activity.AnimeActivity"
                    android:exported="true"
                    android:theme="@style/Anime.Theme.CopyManga" />
        -->


        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity
                    android:name=".ui.activity.MainActivity"
                    android:exported="true"
                    android:theme="@style/Anime.Theme.CopyManga" />

                <activity
                    android:name="com.crow.module_anime.ui.activity.AnimeActivity"
                    android:exported="true"
                    android:theme="@style/Anime.Theme.CopyManga"
                    android:windowSoftInputMode="adjustNothing">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>-->

    </application>

</manifest>