<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="@string/base_app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/App.Theme.CopyManga.Splash">

        <!-- enable profiling by macrobenchmark -->
        <profileable
            android:shell="true"
            tools:targetApi="q" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.crow.manga.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_provider_paths" />
        </provider>

        <activity
            android:name="com.crow.module_book.ui.activity.ComicActivity"
            android:exported="true"
            android:theme="@style/Book.Theme.CopyManga" />

        <activity
            android:name="com.crow.module_anime.ui.activity.AnimeActivity"
            android:screenOrientation="landscape"
            android:exported="true"
            android:theme="@style/Anime.Theme.HotManga" />

        <!--
        <activity
            android:name=".ui.activity.TestActivity"
            android:exported="true"
            android:theme="@style/MangaX.Theme.Material3_Project"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>